<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter Success</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!--==================== PORTFOLIO ====================-->
    <section class="portfolio section" id="portfolio">
        <h2 class="section__title">{{title}}</h2>
        <span class="section__subtitle">{{subtitle}}</span>

        <div class="portfolio__filters">
            <label><input type="radio" v-model="selectedCategory" value="All" /> All</label>
            <label><input type="radio" v-model="selectedCategory" value="Web" /> Web</label>
            <label><input type="radio" v-model="selectedCategory" value="Mobile" /> Mobile</label>
            <label><input type="radio" v-model="selectedCategory" value="Design" /> Design</label>
        </div>

        <div class="portfolio__container container grid">
            <div class="portfolio__card" v-for="work in filteredPortfolio">
                <img v-bind:src="'img/' + work.image" alt="" class="portfolio__img">

                <h3 class="portfolio__title">{{work.title}}</h3>

                <a v-bind:href="work.url" target="_blank" class="portfolio__button">
                    {{work.desc}}<i class='bx bx-right-arrow-alt portfolio__icon'></i>
                </a>
            </div>
        </div>
    </section>

    <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    title: 'Portfolio',
                    subtitle: 'My recent works',
                    portfolio: [{
                            title: 'CargoFast',
                            desc: 'Demo',
                            image: 'CargoFast.jpg',
                            url: 'https://muhammadshafie.github.io/Cargo-Fast/',
                            category: 'Web'
                        },
                        {
                            title: 'UIUX Design',
                            desc: 'Demo',
                            image: 'portfolio1.jpg',
                            url: 'https://xd.adobe.com/embed/98e6cf8e-4c77-49f2-8203-40345cd41606-cdb5/screen/5e0f6dac-5105-4473-b14d-ec800f7fb5b6?fullscreen',
                            category: 'Design'
                        },
                        {
                            title: 'Laravel Mini Project - CRUD',
                            desc: 'Demo',
                            image: 'portfolio3.jpg',
                            url: 'https://drive.google.com/file/d/1gQxW7pdaidBmxvMuhf3IGMdyj8xpWSek/preview',
                            category: 'Web'
                        },
                        {
                            title: 'Web Design',
                            desc: 'Demo',
                            image: 'portfolio2.jpg',
                            url: 'https://muhammadshafie.github.io/Cargo-Fast/',
                            category: 'Web'
                        },
                        {
                            title: 'App Mobile',
                            desc: 'Demo',
                            image: 'portfolio3.jpg',
                            url: 'https://muhammadshafie.github.io/Cargo-Fast/',
                            category: 'Mobile'
                        }
                    ],
                    selectedCategory: "All",
                    isActive: false
                }
            },
            method: {
                activate() {

                }
            },
            computed: {
                filteredPortfolio: function () {
                    var category = this.selectedCategory

                    if (category === "All") {
                        return this.portfolio;
                    } else {
                        return this.portfolio.filter(function (work) {
                            return work.category === category
                        });
                    }
                }
            }
        }).mount('#portfolio')
    </script>
</body>

</html>
